# Environment variables (VERY IMPORTANT)
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
venv/

# Node / Playwright
node_modules/
test-results/
.playwright-mcp/

# OS
.DS_Store

# Streamlit (opsiyonel)
.streamlit/

# Logs
*.log

# Debug / temp
debug*